{{#
    @name Main mobile navigation
    @desc The sites main mobile navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_mobile.antlers.html -->
<nav
    x-data="{ mobileNavOpen: false }"
    class="md:hidden"
    aria-label="{{ trans:strings.main_navigation }}"
    x-trap.inert.noscroll.noautofocus="mobileNavOpen"
    @keyup.escape.stop.prevent="mobileNavOpen = false"
    x-cloak
>

    <button class="text-shadywhite focus:outline-none mr-5"
        @click.prevent.stop="mobileNavOpen = !mobileNavOpen"
        :aria-label="mobileNavOpen ? '{{ trans:strings.nav_close }}' : '{{ trans:strings.nav_open }}'"
        :aria-expanded="mobileNavOpen"
    >
        <svg xmlns="http://www.w3.org/2000/svg" style="width: 24px; height: 24px; overflow: visible; fill: rgb(241, 243, 237);" viewBox="0 0 448 512">
            <path x-show="!mobileNavOpen" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
            <path x-show="mobileNavOpen" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
        </svg>
    </button>

    <div
        class="top-16 left-1/2 fixed inset-0 z-10 pt-8 px-8 pb-12 flex flex-col bg-winered"
        x-show="mobileNavOpen"
        x-transition.origin.bottom.right
    >
        <ul class="flex flex-col py-2 gap-y-4 overflow-auto">
            {{ nav:main max_depth="1" include_home="true" select="title|url" }}
                {{ unless no_results }}
                    <li>
                        <a class="text-shadywhite text-xl" href="{{ url }}">{{ title }}</a>
                    </li>
                {{ /unless }}
            {{ /nav:main }}
        </ul>
    </div>
</nav>
<!-- End: /navigation/_main_mobile.antlers.html -->
